
html {
    font-family: 'Estonia', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color:rgb(255, 248, 248)
}
h1 {
    /* background-color: #f80000; */
    color: rgb(30, 255, 0);
}

p {
    background-color: rgba(0, 0, 0, 0.247);
}
